In [ ]:
'''
1.String is a datatype that stores a sequence of charachter
2.length of the string : len(str)
3.String indexing/index :it indicates the range of the slice using a staring index and ending index
4.(imp)String is immutable: Strings are not mutable means we cannot use indexing to change individual elements if a string
'''
str_1 = "rohan"
last_letter = str_1[1:]
# str_1[0] = "s" //not allowed because strings are immutable 
new_name  = "s"+last_letter
print(new_name)

['hello world']

In [1]:
'''
input() this statement is used to accpet values from the user
'''
x = input("input the number")
print(x)

098

In [3]:
'''
split() this is a method which split the string into substring if it finds instances of the seperator 
'''
a = "hello ,world"
print(a.split(","))

['hello ', 'world']

In [ ]:
'''
list are used to store multiple items in a single variable
we can have all datatypes in list
specified in []
list items are ordered , changable and allow duplicate values
'''
marks = [67,65,43,77,87]
print(marks)
marks[0] = "rohit"
print(len(marks))
print(marks)
new_marks = marks[1:4]
print(new_marks)

[67, 65, 43, 77, 87]
5
['rohit', 65, 43, 77, 87]
[65, 43, 77]

In [ ]:
'''list methods'''
list = [5,1,2,3]
list.append(4)
print(list)
list.sort()
print(list)
list.sort(reverse = True)
print(list)
list.reverse()
list.insert(2,34)
print(list)
list.remove(2)
print(list)
list.pop()
print(list)
list.pop() #removes the last
print(list)

[5, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 34, 3, 4, 5]
[1, 34, 3, 4, 5]
[1, 34, 3, 4]
[1, 34, 3]

In [ ]:
'''
tuples: built in datatype lets us create immutable sequence of values 
ordered, unchangeable, and allow duplicate values
takes less  memory than list
can be used in dictionary
'''
tup = (1,2,2,2,3,4,5)
# tup[0] = 43 not possible
tup.index(2)#return index of the first occurance
tup.count(2)#return the count of the total occurance of element
tuple()

3

In [2]:
'''
DICTIONARIES
unordered form of data in which values are stored in keys
always start with curly brackates 
dont allow duplicate keys 
but value cannot be duplicate

'''
#Creating a dictionary

my_dict  = {
    "std_1" : "rohit",
    "roll no." : 57,
    "class" : "machine learning",
    "marks" : [12,43,32,33,90],
    (1,2) : ["math" , "science"]
}
print(my_dict)

{'std_1': 'rohit', 'roll no.': 57, 'class': 'machine learning', 'marks': [12, 43, 32, 33, 90], (1, 2): ['math', 'science']}

In [4]:
''' how to access'''

my_dict[1]  = 32
print(my_dict["roll no."])

32

In [10]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "type": "muscle car"
}
thisdict.pop("model")
print(thisdict)
thisdict.popitem()
print(thisdict)
del thisdict["brand"]
print(thisdict)
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964, 'type': 'muscle car'}
{'brand': 'Ford', 'year': 1964}
{'year': 1964}
{}

In [1]:
'''nested dictionary'''
stud_data = {
    "std1" : {
        "name": "rohit",
        "roll no." : 57,
        "class" : "machine learning",
        "marks" : [12,43,32,33,90],
        (1,2) : ["math" , "science"]
    }
}

In [ ]:
'''
#SET : {} stores in curlu brackcates
unordered, unchngable
dont allow duplice
we can create a empty set 
we can iteraate through whole set to see a value in set
'''

a = {1,2,"rohit", 1.1,(3,"true")}#cannot store list or dictionary

s = set()
s.add(3)
s.add("rohit")
s.add("true")
s.add("false")
s.remove("false")
print(s)

{'true', 3}

In [ ]:
s = {1,2,3,4,4,5,5}
v = {2,2,3,3,4,5,5,6}
c = s.union(v)# we can also add tuple to a set by using union
print(c)
# for x in s:
#     print("value is there")

{1, 2, 3, 4, 5, 6}

In [4]:
a = {("int",9),("float",9.0)}
print(a)

{('int', 9), ('float', 9.0)}

In [ ]:
#intersection
s = {1,2,3,4,4,5,5}
v = {2,2,3,3,4,5,5,6}
c = s.intersection(v)
print(c)

{2, 3, 4, 5}

In [31]:
s = {1,2,3,4,4,5,5}
v = {2,2,3,3,4,5,5,6}
c = v.symmetric_difference(s)
print(c)

{1, 6}

In [32]:
'''
booleans
'''
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False