In [1]:
def fact(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*fact(n-1)
a = 6
fact(a)

720

In [2]:
#map function
x = [1,2,3,4,5]
y = map(lambda a:a*2,x)
print(list(y))

[2, 4, 6, 8, 10]

In [4]:
x = [1,2,3,4,5]
y = filter(lambda y:y%2!=0,x)
print(list(y))

[1, 3, 5]

In [5]:
x = [1,2,3,4,5]
y = map(lambda a:a**2,x)
print(list(y))

[1, 4, 9, 16, 25]

In [6]:
str1 = ["rohit","shiwam","abhishek"]
y  = map(lambda a:a.upper(),str1)
print(list(y))

['ROHIT', 'SHIWAM', 'ABHISHEK']

In [15]:
#add corresponding elements of two list
l1 = [1,2,3,]
l2 = [5,6,7,8,9]
y = map(lambda a,b:a+b,l1,l2)
print(list(y))

[6, 8, 10, 12]

In [14]:
#filter prime numbers from a list[2,3,4,5,6,7,8,9,10]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
prime_numbers = filter(lambda y:is_prime(y),numbers)

print(list(prime_numbers))

[2, 3, 5, 7]

In [17]:
#function to convert a list of string to integer
str1 = ["1","2","3","4","5"]
def func_stri(a):
    return list(map(int , a))
print(func_stri(str1))

[1, 2, 3, 4, 5]

In [20]:
#function to filter out missing data
data = [10, None, 25, "", 30, None, "hello", 0, "world", " "]
filtered_data = list(filter(lambda x: x not in (None, ""), data))
print(filtered_data)

[10, 25, 30, 'hello', 0, 'world', ' ']

In [27]:
list1 = ["rohit","kaushal","abhishek","kataria"]

def capital_letter(x):
    return list(map(str.capitalize,x))

capital_letter(list1)

['Rohit', 'Kaushal', 'Abhishek', 'Kataria']

In [31]:
d = [("a", 2000), ("b", 787662), ("c", 826328),("d", 782766), ("e", 826328)]


sorted_list = sorted(d, key=lambda x: x[1])
print(sorted_list)

[('a', 2000), ('d', 782766), ('b', 787662), ('c', 826328), ('e', 826328)]

In [40]:
#function to count word frequency in a text 

list1 = ["rohit","kaushal","abhishek","kataria"]
def countfrequency(x,word):
    return list(map(lambda x: x.count(word), x))
countfrequency(list1,"a")

[0, 2, 1, 3]

In [36]:
list1 = ["rohit", "kaushal", "abhishek", "kataria"]

def count_frequency(lst, word):
    return list(map(lambda x: x.count(word), lst))  

print(count_frequency(list1, "a"))

[0, 2, 1, 3]

In [42]:
#filter employees with salary greater than 50k
d = [("a", 2000), ("b", 787662), ("c", 826328),("d", 782766), ("e", 826328)]
def salary(a):
    return list(filter(lambda x:x[1]>50000,a))
salary(d)

[('b', 787662), ('c', 826328), ('d', 782766), ('e', 826328)]

In [43]:
# function to merge two datasets based on their id
students = [(1, "Alice"), (2, "Bob"), (3, "Charlie"), (4, "David")]
marks = [(1, 85), (2, 90), (3, 78), (4, 88)]
marks_dict = dict(marks)
merged_data = [(id_, name, marks_dict.get(id_, "No Marks")) for id_, name in students]
print(merged_data)

[(1, 'Alice', 85), (2, 'Bob', 90), (3, 'Charlie', 78), (4, 'David', 88)]

In [45]:
#function to find common elements in a list 
l1 = [1,2,3,4,5,6,7,8]
l2 = [2,3,7,54,5,8,9,]
common_data = list(filter(lambda x:x in l1,l2))
print(common_data)

[2, 3, 7, 5, 8]

In [46]:
#function to remove duplicates from a list
def remove_duplicates(lst):
    return list(set(lst)) 
l = [1,2,3,3,4,4,3,2,2,1,3,4,5,5,6,7,8]
print(remove_duplicates(l))

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
#function to perform normalize a list
def normalize_prices(prices):
    min_val, max_val = min(prices), max(prices)
    return [(p - min_val) / (max_val - min_val) for p in prices]
prices = [1000, 2000, 3000, 4000, 5000, 6000]
normalized_prices = normalize_prices(prices)
print(normalized_prices)

[0.0, 0.2, 0.4, 0.6, 0.8, 1.0]

In [55]:
#function to mask sensitive data 
phone_numbers = [
    "+1-202-555-0123",  # US Format
    "+44 20 7946 0958",  # UK Format
    "+91-9876543210",    # India Format
    "+61 2 1234 5678",   # Australia Format
    "+49-30-12345678",   # Germany Format
    "2025550198",        # US (Without Country Code)
    "98765 43210",       # India (Without Country Code)
    "07555 123456",      # UK Mobile
    "+33 1 23 45 67 89", # France Format
    "+81 3-1234-5678"    # Japan Format
]
def mask_num(y):
    return list(map(lambda x:x[:-4]+'xxxx',y))
mask_num(phone_numbers)

['+1-202-555-xxxx',
 '+44 20 7946 xxxx',
 '+91-987654xxxx',
 '+61 2 1234 xxxx',
 '+49-30-1234xxxx',
 '202555xxxx',
 '98765 4xxxx',
 '07555 12xxxx',
 '+33 1 23 45 6xxxx',
 '+81 3-1234-xxxx']

In [54]:
phone_numbers = [
    "+1-202-555-0123",  # US Format
    "+44 20 7946 0958",  # UK Format
    "+91-9876543210",    # India Format
    "+61 2 1234 5678",   # Australia Format
    "+49-30-12345678",   # Germany Format
    "2025550198",        # US (Without Country Code)
    "98765 43210",       # India (Without Country Code)
    "07555 123456",      # UK Mobile
    "+33 1 23 45 67 89", # France Format
    "+81 3-1234-5678"    # Japan Format
]
def mask_num(y):
    return list(map(lambda x: x[:-4] + "xxxx", y))


masked_phone_numbers = mask_num(phone_numbers)


print(masked_phone_numbers)

['+1-202-555-xxxx', '+44 20 7946 xxxx', '+91-987654xxxx', '+61 2 1234 xxxx', '+49-30-1234xxxx', '202555xxxx', '98765 4xxxx', '07555 12xxxx', '+33 1 23 45 6xxxx', '+81 3-1234-xxxx']

In [ ]:
#functions to extract emails from a dataset

In [ ]:
#function to read data from a file