In [13]:
#WAP to print numbers from 1 to 10
i = [1,2,3,4,5,6,7,8,9,10]
for x in i:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
for i in x:
    if(i==5):
        break
    else:
        print(i)
        continue

1
2
3
4

In [15]:
#skip no. 5
x = [1,2,3,4,5,6,7,8,9,10]
for i in x:
    if(i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [19]:
#find the first eve number iusing break

x = [3,5,7,8,11,13]
for i in x:
    if(i%2==0):
        print(f'first even number:',{i})
        break

first even number: {8}

In [6]:
x = [3,5,7,8,11,13]
for i in x:
    if(i%2==0):
        continue
    print(f'odd number:',i)

odd number: 3
odd number: 5
odd number: 7
odd number: 11
odd number: 13

In [31]:
#multiplication table 
x = [1,2,3,4,5]
y = [1,2,3,4,5,6,7,8,9,10]
for i in x:
    for j in y:
        print(f"table",i,"*",j,"=", i*j )

table 1 * 1 = 1
table 1 * 2 = 2
table 1 * 3 = 3
table 1 * 4 = 4
table 1 * 5 = 5
table 1 * 6 = 6
table 1 * 7 = 7
table 1 * 8 = 8
table 1 * 9 = 9
table 1 * 10 = 10
table 2 * 1 = 2
table 2 * 2 = 4
table 2 * 3 = 6
table 2 * 4 = 8
table 2 * 5 = 10
table 2 * 6 = 12
table 2 * 7 = 14
table 2 * 8 = 16
table 2 * 9 = 18
table 2 * 10 = 20
table 3 * 1 = 3
table 3 * 2 = 6
table 3 * 3 = 9
table 3 * 4 = 12
table 3 * 5 = 15
table 3 * 6 = 18
table 3 * 7 = 21
table 3 * 8 = 24
table 3 * 9 = 27
table 3 * 10 = 30
table 4 * 1 = 4
table 4 * 2 = 8
table 4 * 3 = 12
table 4 * 4 = 16
table 4 * 5 = 20
table 4 * 6 = 24
table 4 * 7 = 28
table 4 * 8 = 32
table 4 * 9 = 36
table 4 * 10 = 40
table 5 * 1 = 5
table 5 * 2 = 10
table 5 * 3 = 15
table 5 * 4 = 20
table 5 * 5 = 25
table 5 * 6 = 30
table 5 * 7 = 35
table 5 * 8 = 40
table 5 * 9 = 45
table 5 * 10 = 50

In [38]:

for i in range(1,6):
    for j in range(i):
        print("*",end="") 

    print()

*
**
***
****
*****

In [42]:
for i in range(1,6):
    for j in range(i):
        print(j,end="") 
        
    print()

0
01
012
0123
01234

In [44]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#fibonnaci series
j = int(input("enter the starting number"))
k = int(input("enter the ending number"))
for i in range(j,k):
    if(i==0 or i==1):
        print(i)
        continue
    print((i-1)+(i-2))

In [59]:
#WAP to get a factorial of a number 
#count vowels in a string 
#reverse a string using for loop
#multiplication table of a number
#sum of first tem natural numbers

In [ ]:
a = int(input("enter the number"))
x = 1
for i in range(a,1,-1):
    x = x*i
print(x)

1

In [ ]:
#count vowels in a string 
a = "rohit"
x= 0
v = "aeiou"
for i in a:
    if i in v:
        x+=1
print(x)

2

In [114]:
a = "rohit"
x = len(a)
b = []
for i in range(x-1,-1,-1):
    b.append(a[i])
print("".join(b))

tihor

In [93]:
#multiplication table 
x = int(input("enter the number"))
y = [1,2,3,4,5,6,7,8,9,10]
for i in y:
        print(f"",x,"*",i,"=", i*x )

 12 * 1 = 12
 12 * 2 = 24
 12 * 3 = 36
 12 * 4 = 48
 12 * 5 = 60
 12 * 6 = 72
 12 * 7 = 84
 12 * 8 = 96
 12 * 9 = 108
 12 * 10 = 120

In [ ]:
a = int(input("enter the number"))

x = (a*(a+1))//2
print(x)

15.0

In [117]:
#while loop 
i = 1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [127]:
x = int(input("enter the number"))
n = 1
while n<=10:
    print(f"",x,"*",n,"=", n*x ) 
    n+=1

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

In [133]:
#print the element of the following list using loop
list1= [1,4,9,16,25,36,49,64,81,100]
for i in list1:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [135]:
#print number 10 to 1 

for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#wap to program to find sum of n natural number

n = int(input("enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

The sum is:  21

In [145]:
#
n = int(input("enter a number: "))
n1 = int(input("enter a number: "))

while n1>=0:
    n-=1
    n1-=1
print(n)

9

120